# Core Application
OPENAI_API_KEY=
DATABASE_URL=
DATABASE_MIGRATION_URL=
JWT_SECRET=
OPENROUTER_API_KEY=
DATABASE_SHADOW_URL=

# Memory
MEMORY=motorhead
REDIS_MEMORY_URL=
REDIS_MEMORY_WINDOW=
MEMORY_API_URL=

# Vector Store (Weaviate)
VECTORSTORE=weaviate
WEAVIATE_API_KEY=
WEAVIATE_INDEX=
WEAVIATE_URL=

# Supabase
SUPABASE_DB_URL=
SUPABASE_TABLE_NAME=

# Tools
E2B_API_KEY=
REPLICATE_API_TOKEN=
TAVILY_API_KEY=

# API Configuration
SUPERAGENT_API_URL=